@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family:'FugazOne';
    src: url(Fonts/FugazOne/FugazOne-Regular.ttf);
}
@font-face {
    font-family: 'OpenSans';
    src: url(Fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf);
}
:root{
    --color0:#FF9B00;
    --color1:#FFAE19;
    --color2:#E6820A;
    --color3:#0050B2;
    --color4:#72B1FF;
    --color5: #111111;
    --color6: #797979;
    --fontTitle: 'FugazOne',Arial,Helvetica,sans-serif;
    --fontBody: 'OpenSans',Arial,Helvetica,sans-serif;
}
body{
    font-family: var(--fontBody);
    background-image:linear-gradient(#fafafa79,#fafafabe,#f38600);
    text-indent:30px; /* Recuo do parágrafo */
}
header{
    background: linear-gradient(0deg, rgba(22,9,240,1) 0%, rgb(4, 53, 158) 100%);
    color: #fff;  
    text-align: center;
    color: white;
    padding: 15px;
}

header > h1 {
    font-family: var(--fontTitle);
    font-size: 45px;
}
header > p{
    margin-top: -15px;
    font-size: 14px;
    font-style: italic;
}
nav{
    font-family: var(--fontBody);
    background-color: var(--color3);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

nav > a{
    color: white;
    text-decoration: none;
}
nav > a:hover{ /*Animação ao passar o mouse*/
  font-size: 20px;
  font-weight:600;
  padding: 0;
  color: #e9eef3;
  transition: 0.110s; /*tempo de animação*/
}
main{
    background-color: rgb(255, 255, 255);
    max-width: 900px;
    min-width: 5px;
    margin: auto;
    padding: 30px;
    margin-top: auto;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 0px 5px 0px rgba(90, 90, 90, 0.425)
}
article{
    text-align: justify;
}

article > h1 {
    text-align: center;
    font-size: 40px;
    color: var(--color5);
    font-family: var(--fontBody);   
}
article > p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
}

#subTitle{
    text-align: center;
    color:#797979;
    font-size: 18px;
}


.Images_G{
    width: 700px;
    display: block;
    margin: auto;
    border: solid;
    border-color:#111111;
}
 h3 {
    background-color: var(--color2);
    color: white;
    max-width: 900px;
    min-width: 5px;
    margin-left: -30px;
    padding: 3px;
}
.container{
    display: flex;
    margin-top: 30px;
    min-width: 10px;
}
.text-news{
    margin-left: 15px;
    text-indent: 0;
    max-width: 900px;
    min-width: 5px;
}
.title-news{
    color: #E6820A;
    font-weight:bold;
    max-width: 900px;
    min-width: 5px;
}
.resumo-news{
    color: var(--color6);
    font-size: 16px;
    max-width: 900px;
    min-width: 5px;
}
.row{
    margin-top: 30px;
    background-color: #c4c4c4c0;
    padding: 0.1px;
}
.Thumbnail_News{
width: 250px;
}
.section-author{
    margin-top:50px;
    display: flex;
  }
#author-photo{
  border-radius: 50px;
}
.text-bio{
    margin-left: 20px;
}
  #Author-title{
    font-size:18px;
    color:rgb(43, 43, 43);
    text-indent: 0;
  }
  #Bio-Author{
    font-size: 15px;
    color:#646464;
    text-indent: 0;
    }
    footer{
        background-color:#aaaaaab2 ;
        color: rgb(245, 245, 245);
        text-align: center;
        font-size: 15px;
        margin-top: 15px;
        padding: 30px;
    }
